@model Areademo.Models.StudentModel



<form id="main" class="main" method="post" >
    <div class="container mt-5">
        <div class="card shadow p-4">
            <h2 class="text-center mb-4">Student Form</h2>
                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" asp-for="Name" class="form-control" >
                    <span asp-validation-for="Name" class="text text-danger "></span>
                </div>

                <div class="mb-3">
                    <label  class="form-label">Student ID</label>
                    <input type="text" asp-for="Id" class="form-control" >
                    <span asp-validation-for="Id" class="text text-danger "></span>
                </div>

                <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
    </div>
</form>

